@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  font-family: "Rubik", sans-serif;
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eef0f4;
}

input {
  background-color: #dce1eb;
  color: #432000;
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}

input:focus {
  outline: none;
}

button {
  color: #fdfdfd;
  background-color: #ac485a;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  font-size: 15px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: #432000;
}

#container {
  border: 2px solid #ac485a;
  width: 250px;
  margin: auto;
  margin-top: 100px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 200px;
}

ul li {
  flex-wrap: wrap;
  flex-grow: 1;
  text-align: center;
  background-color: #fffdf8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}

li:hover {
  cursor: pointer;
  background-color: #ffecc7;
}
